.card{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid white;
  transition: .08s;
  cursor: pointer;
}
.card:hover{
  border: 1px solid #1976D2;
}
.card p{
  display: inline-block;
}

.card .rankname{
  display: inline-block;
  position: relative;
  width: 30vw;
  padding-left: 1rem;
}

.card .rankname img{
  position: absolute;
  top: 50%;
  margin-left: .4rem;
  transform: translateY(-50%);  
  width: 2rem;
}

.card .rankname p{
  padding-left: 1rem;
}

.card .rankname .teamname{
  padding-left: 2.7rem;
}

.card .wrapper{
  display: inline-block;
}

.card .wrapper p{
  width: 2rem;
  text-align: center;
}

.card .wrapper .form{
  display: inline-block;
  margin-left: 2rem;
}

.card .wrapper .three{
  width: 3rem;
}

.card .wrapper .four{
  width: 4rem;
}

.active{
  font-weight: bold;
}