.column{
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 5;
  color: black;
}

@keyframes moveDown{
  0%{
    transform: translateY(-2rem);
  }
  100%{
    transform: translateY(0);
  }
}


.column p{
  display: inline-block;
  font-size: .8rem;
  width: 2rem;
  text-align: center;
}

.column .team{
  width: 30vw;
  font-size: 1rem;
  margin-left: 1rem;
}

.column .recent{
  width: 5rem;
  margin-left: 2rem;
}

.line{
  color: rgb(177, 173, 173);
}