.leaguetab{
  text-align: center;
}
.leaguetab .league{
  background-color: white;
  display: inline-block;
  margin: 1rem;
  padding: .5rem;
  border-radius: 10px;
}
.leaguetab .league{
  width: 13rem;
  text-align: center;
}

.leaguetab .league.league1{
  background-color: #091C3D;
}

.leaguetab .league.laliga{
  background-color: black;
}

.leaguetab .league img{
  height: 5rem;
}