.attackPoint{
  display: inline-block;
  margin-left: 1rem;
  background-color: white;
  
  border-radius: 2rem;
}
.attackPoint .goal{
  display: inline-block;
  cursor: pointer;
  padding: .5rem;
  border-radius: 2rem;
}

.attackPoint .goal-active{
  display: inline-block;
  cursor: pointer;
  padding: .5rem;
  border-radius: 2rem;
  background-color: aquamarine;
}

.attackPoint .assist{
  display: inline-block;
  cursor: pointer;
  border-radius: 2rem;
  padding: .5rem;
}
.attackPoint .assist-active{
  display: inline-block;
  cursor: pointer;
  border-radius: 2rem;
  padding: .5rem;
  background-color: aquamarine;
}

.wrapper{
  display: flex;
}

.maincontent{
  background-color: white;
  border-radius: 2rem;
  margin: 4rem 8rem;
}