body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  /* background-image: linear-gradient( 126.3deg,  rgba(30,2,83,1) 32.2%, rgba(198,55,160,0.46) 109.2% ); */
  background-color: rgb(20, 14, 49);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "OpenSancCondensed-bold";
  src: url("./UI/fonts/OpenSansCondensed-Bold.ttf");
}
@font-face {
  font-family: "OpenSancCondensed-light";
  src: url("./UI/fonts/OpenSansCondensed-Light.ttf");
}
@font-face {
  font-family: "OpenSancCondensed-italic";
  src: url("./UI/fonts/OpenSansCondensed-LightItalic.ttf");
}
@font-face {
  font-family: "Noto-thin";
  src: url("./UI/fonts/NotoSansKR-Thin.otf");
}
@font-face {
  font-family: "Noto-normal";
  src: url("./UI/fonts/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: "Noto-bold";
  src: url("./UI/fonts/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: "Noto-regular";
  src: url("./UI/fonts/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "Barlow";
  src: url("./UI/fonts/Barlow-Light.ttf");
}
@font-face {
  font-family: "Merry";
  src: url("./UI/fonts/Merriweather-Bold.ttf");
}